
<div class="cont">
<form class="row g-3" action="./contacto" method="post">
    
    <h3 class="titulo-form">Contactanos!!</h3>
    
    <div class="col-md-6">
    <label for="inputName" class="form-label">Nombre</label>
    <input type="text" class="form-control" name="nombre_contacto" id="inputname" placeholder="Ingrese su nombre completo" required>
    </div>
    
    <div class="col-md-6">
    <label for="inputLastName" class="form-label">Apellido</label>
    <input type="text" class="form-control" name="apellido_contacto" id="inputLastName" placeholder="Ingrese su apellido" required>
    </div>
    
    <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email"  name="email_contacto" class="form-control" id="inputEmail4" placeholder="Ingrese su Mail" required>
    </div>
    
    <div class="col-12">
    <label for="inputPhone" class="form-label">Telefono</label>
    <input type="phone" name="telefono_contacto" class="form-control" id="inputPhone" placeholder="Ingrese su telefono o celular" required>
    </div>

    <div class="col-md-12">
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
    <div class="nos">
        <h3>
            Ubicacion
        </h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1635.7808215593996!2d-57.914176636346795!3d-34.91744870181616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e5ff797b665b%3A0xc27faa3684bd2bb2!2sC.%2072%20%26%20Av.%20122%2C%20B1914%20Villa%20Elvira%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1649726534035!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

