<main class="main">
<div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
    
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <div class="img">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="carousel-caption d-none d-md-block" id="text-car">
                    <h2><b>3DP</b></h2>
                        <p>
                        Somos expertos especiales en impresión 3D para cumplir con todos sus requisitos de grado industrial </p> ·Prototipos y piezas de producción de alta calidad · Alta precisión · Excelente servicio· 
                        </p>
                </div>
                <img src="/multimedia/impresion-3d-industria-economia-empleo.jpg" class="d-block w-100" alt="...">
                        <div class="black">
                        <img src="../multimedia/2416004.webp" alt="">
                        </div>
            </div>

        <div class="carousel-item" data-bs-interval="2000">
        <img src="../multimedia/rob-wingate-1353116-unsplash-RECORT-3416x1708.jpg" alt="">
            <div class="carousel-caption d-none d-md-block" id="text-car"> 
                <h2>Productos</h2>
                <p>Impresoras, filamentos y mas...</p>
            </div> 
                <div class="black">
                <img src="../multimedia/2416004.webp" alt="">
                </div>
            </div>
    
        <div class="carousel-item">
        <img src="../multimedia/zbrush.jpg" class="d-block w-100" alt="...">
            <div class="black">
            <img src="../multimedia/2416004.webp" alt="">
            </div>
            <div class="carousel-caption d-none d-md-block " id="text-car">
            <h2>Diseño 3D</h2>
            <p>Diseñamos todas tu ideas</p>
            </div>
        </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>
</div>



    <div class="info">
    <h3>
        <i>
            ¿Que es la impresión 3D?
        </i>
    </h3>
    <p>
        La impresión 3D es una tecnología que construye objetos basados ​​en archivos de modelos digitales, utilizando materiales que se pueden unir, como metal en polvo o plástico, e imprimiéndolos capa por capa.
        El contenido impreso proviene de modelos 3D u otros datos electrónicos, y los objetos 3D impresos pueden tener cualquier forma y característica geométrica.
        La impresión 3D utiliza el diseño asistido por computadora (CAD) para crear objetos tridimensionales a través de un método de capas. A partir de la producción de modelos gráficos de los objetos a imprimir, estos suelen diseñarse utilizando paquetes de software de diseño asistido por computadora (CAD). Importe los archivos a la impresora 3D y luego la impresora 3D completará el trabajo.
    </p>
    </div>

</main>


