.cont{
    background-image: url(../../multimedia/blue-3d-background-vector-images.jpg);
    padding-bottom: 2rem;
    width: 100%;
}

.cont form{
    width: 40%;
    margin-left: 30%;
    position: relative;
    background-color: #ececec;
    padding: 2rem;
}

.nos{
    display: block;
    color: #ececec;
}



@media only screen and (max-width: 600px){
    .cont form{
        width: 100%;
        margin-left: 0;}
    iframe{
        width: 80%;
        }

    }

    @media only screen and (min-width: 600px){
        iframe{
            margin-right: 20%;
        }
        .nos{
            margin-left: 35%;
        }
    }