.cont{
    background-image: url(../../multimedia/blue-3d-background-vector-images.jpg);
        display: flex;
    flex-direction: column;
    margin-left: 6rem;
    align-items: center;
    flex-grow: 2;

}

.cont form{
    width: 40%;
    background-color: #ececec;
    padding: 2rem;
}


.nos{
    color: #ececec;
}


@media only screen and (max-width: 1000px ){
    .cont{
        margin-left: 6rem;
    }

    .cont form{
        width: 100%;
    }

    .cont iframe{
        width: 100%
    }
}



@media only screen and (max-width: 600px){
    .cont{
        margin-left: 0;
    }

    .cont form{
        width: 100%;
    }

    .cont iframe{
        width: 100%
    }
}


